create-catalog.sql
.env
kcadm_cmd.txt
cmd.txt
test_api_keycloak.ipynb
Spark.ipynb
create-warehouse.ipynb
boostrap.ipynb
spark/spark-logs/*
spark/apps/.ipynb_checkpoints/*
spark/apps/utils/__pycache__/*
spark/.env.spark
notebooks/

starrocks/starrocks-test.ipynb
insert-data.sql
openldap/data/*
