create-catalog.sql
.env
kcadm_cmd.txt
cmd.txt
test_api_keycloak.ipynb
Spark.ipynb
create-warehouse.ipynb
boostrap.ipynb
spark/spark-logs/*
spark/apps/.ipynb_checkpoints/*
spark/apps/utils/__pycache__/*
spark/.env.spark
notebooks/

starrocks/starrocks-test.ipynb
insert-data.sql
openldap/data/*
authz_backup.rego
results1.bin
body1.json
vegeta_test_targets.txt
openldap/config/*
.idea/*

trino/etc/catalog/*

airflow/logs/*
kafka1/data/*
kafka2/data/*

nifi/*

# Data Source API
datasource-api/__pycache__/
datasource-api/*.pyc
datasource-api/.env

datasource-api/*
docker-compose-datasource.yaml

.cursor/

airflow/dags/__pycache__/
spark/apps/.ipynb_checkpoints
spark/spark-logs
openldap/data
kafka1/*
kafka2/*
airflow/logs