trino:
  container_name: trino
  image: trinodb/trino:467
  environment:
    - CATALOG_MANAGEMENT=dynamic
  healthcheck:
    test: ["CMD", "curl", "-I", "http://localhost:8080/v1/status"]
    interval: 2s
    timeout: 10s
    retries: 2
    start_period: 10s
  ports:
    - "9999:8080"
  networks:
    - lakehouse-network
  volumes:
    # Mount thư mục config trên host vào trong container
    - ./trino/catalog:/etc/trino/catalog
