version: "3.9"

services:
  nifi:
    image: apache/nifi:1.27.0
    container_name: nifi
    restart: unless-stopped
    ports:
      - "8082:8080"
    environment:
      NIFI_WEB_HTTP_HOST: 0.0.0.0
      NIFI_WEB_HTTP_PORT: 8080
      NIFI_SENSITIVE_PROPS_KEY: please-change-me
      NIFI_JVM_HEAP_INIT: 2g
      NIFI_JVM_HEAP_MAX: 4g
      NIFI_ZK_CONNECT_STRING: ""
    volumes:
      # ./nifi/conf:/opt/nifi/nifi-current/conf  # Not needed - flow is saved in state/
      - ./nifi/database_repository:/opt/nifi/nifi-current/database_repository
      - ./nifi/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - ./nifi/content_repository:/opt/nifi/nifi-current/content_repository
      - ./nifi/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - ./nifi/state:/opt/nifi/nifi-current/state
      - ./nifi/logs:/opt/nifi/nifi-current/logs
    networks:
      - lakehouse-network

networks:
  lakehouse-network:
    name: lakehouse-network
    external: true
